@page
@model Atlas.Web.Pages.AdminPanel.IndexModel
@{
    ViewData["Title"] ="Admin Panel";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<h1 style="text-align: center;color: aquamarine"> AdddddddddddddddddddddddMin</h1>