@page
@model IndexModel
@{
    ViewData["Title"] = "Admin Panel";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
<h1 style="color: aquamarine; text-align: center;"> Product Categories Index</h1>